{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
 {% if app.user %}
        <div class="mb-3">you are ass {{app.user.username}} <a href="{{path('app_logout')}}">logout</a></div>
    {% endif %}
    <form method="post">
        <label for="Email">Email:</label>
        <br>
        <input input type="text" name="_username" id="username" tabindex="1" class="w3-input w3-animate-input" type="text" style="width:30%" placeholder="Adresse email" required value="{{lastusername}}"/>
<br>
<div>
        <label for="password">Password:</label>
        <br>
        <input  type="password" name="_password" id="password" tabindex="2" class="w3-input w3-animate-input" type="text" style="width:30%" placeholder="Mot de passe"/></div>

<div>
        
        <input type="hidden" name="_csrf_token" value="{{csrf_token('authenticate')}}"/>
        </div>
<div class="checkbox mb-3">
<label>
<input type="checkbox" name="_remember_me" >Remember me</label>
</div>
        <button  type="submit">login</button>
    </form>
   
{% endblock %}